<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Home Page</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="users" class="navbar-brand">User List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="add" class="navbar-brand">Add User</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
